@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

button {
  border: none;
  border-radius: 1rem;

  background: #0078e3;

  padding: 2rem;

  font-size: 2rem;
  font-weight: 500;
  color: white;

  cursor: pointer;
}

button:hover {
  background: #0060b3;
}
